@model ShakeMaker.Models.Cocktails
@using ShakeMaker.Models
@using ShakeMaker.Dal

@{
    string user = "";
    if ((string)Session["tempUserType"] == "regularUser")
    {
        user = (Session["tempUser"] as RegularUser).userName;
    }
}

<script language="javascript">

    function clicked()
    {
        var button = document.getElementById("addToFavourites");
        button.hidden = true;
        var adding = document.getElementById("adding");
        adding.hidden = false;
        var toServer = document.getElementById("addServer");
        toServer.click();
    }
</script>

<div>
        <h2 id="details">Details of @Model.name</h2>
        <br />
        @{
            if ((string)Session["tempUserType"] == "regularUser")
            {
                RegularUser regUser = Session["tempUser"] as RegularUser;
                if (regUser.hasCocktail(Model))
                {
                    <p id="added">Added to favourites</p>
                }
                else
                {
                    <input id="addToFavourites" type="button" value="Add To Favourites" name="addToFavourites" onclick="clicked()" />
                    <input type="button" hidden id="addServer" onclick="location.href='@Url.Action("addCocktailToFavourites", "User", new { userName = user, cid = Model.cid })'" />
                }
            }
        }
        <p hidden id="adding">Adding to favourites</p>
        <p>Unique ID: @Model.cid</p>
        <br />
        <p>Category: @Model.cocktailCategory</p>
        <br />
        <p>List of Ingredients:</p>
        <ul>
        @{
            foreach (ShakeMaker.Models.Ingredient ing in Model.ing)
            {
                <li>@ing.name - @ing.amount</li>
            }
        }
        </ul>
        <br />
        <p>Preperation: @Model.preperation </p>
        <br />
        @{         
            string video = Model.videoLink;
            if (video != null && video != "")
            {
                string src = "https://www.youtube.com/embed/";
                src += video.Split('=').Last();
                <iframe width="560" height="315" src="@src" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }
        }

</div>