@model ShakeMaker.Models.RegularUser

@{
    ViewBag.Title = "Register";
}

<div class="container">
    <h3 style="color:blue">Register</h3>
    <form action="@Url.Action("Register","User")" method="post">
        <div class="form-group">
            <label for="userName">User Name:</label>
            <div class="form-inline">
                <input class="form-control input-lg" id="usrNameInput" type="text" name="userName" value="@Model.userName" />
                <small id="passwordHelpInline" class="text-muted">
                     Must be 2-20 characters long.
                </small>
            </div>     
            <p style="color:red">@Html.ValidationMessageFor(x => x.userName)</p>
            <p style="color:red">@ViewData["userNameError"]</p>
        </div>
        <div class="form-group">
            <label for="userPassword">Password:</label>
            <div class="form-inline">
                <input class="form-control input-lg" id="usrPassInput" type="password" name="password" value="@Model.password" />
                <small id="passwordHelpInline" class="text-muted">
                    Must be 4-20 characters long.
                </small>
            </div>
            <p style="color:red">@Html.ValidationMessageFor(x => x.password)</p>
        </div>
        <div class="form-group">
            <label for="userPasswordRetype">Retype Password:</label>
            <input class="form-control input-lg" id="usrPassInputRetype" type="password" name="passwordRetype"/>
            <p style="color:red">@ViewBag.Message</p>
        </div>
        <div class="form-group">
            <label for="email">Enter Email:</label>
            <input class="form-control input-lg" id="usrEmail" type="email" name="email" value="@Model.email" placeholder="name@example.com"/>
            <p style="color:red">@ViewData["emailError"]</p>
        </div>
        <p style="color:red">@ViewData["missingInputError"]</p>
        <input type="submit" class="btn btn-info" value="Register" />
    </form>
</div>
